.mainbg{
    content: '';
    height: 100vh;
    width: 100%;
    background: url("/view/images/logo-2.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: block;
    /*filter: blur(10px);
    -webkit-filter: blur(10px);*/
    transition: all 1000ms
    
}